const ejs = require('ejs');

function otpMail(name, otp) {
return ejs.render(`
<!DOCTYPE html>
<html lang="en" dir="ltr"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNC-419 Project</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f3f4f6;
        }

        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #ffffff;
        }

        header {
            text-align: center;
            margin-bottom: 50px;
        }

        header img {
            width: 40%;
            height: auto;
        }

        main h3 {
            color: #333333;
        }

        main p {
            color: #666666;
            margin-top: 10px;
            line-height: 1.6;
        }

        .verification-code {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px;
            margin-top: 10px;
            background-color: #030527;
            color: #ffffff;
            font-size: 4em;
            font-weight: bolder;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        footer {
            margin-top: 20px;
            text-align: center;
        }

        footer p {
            color: #999999;
            line-height: 1.6;
        }

        footer a {
            color: #030527;
            text-decoration: none;
        }

        footer a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body dir="ltr"></body>
    <div class="container">
        <header>
            <a href="https://www.codextech.org"></a>
                <img src="https://cnc-419.codexeg.net/public/logo.png" alt="CNC-419 Project Logo" style="width: 25%; height: auto;">
            </a>
        </header>
        <main>
            <h3>Hello <%= name %>!</h3>
            <p>This is your verification code for CNC-419 Project</p>
            <div class="verification-code">
                <%= otp %>
            </div>
            <p>Please don't share this code with anyone to keep your account secure</p>
            <p>Enjoy your experience with CNC-419 Project!</p>
        </main>
        <footer>
            <p>Have a question or encountered an issue? Send us an email at <a href="mailto:info@codextech.org">info@codextech.org</a> and we'll be happy to help.
            </p>
            <p>© <%= new Date().getFullYear() %> <a href="https://www.codextech.org">CNC-419 Project</a>. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>
`, { name, otp });
}

module.exports = { otpMail };